name: Tear Down Feature Environment

on:
  pull_request:
    types:
      - closed

env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}

jobs:

  build:
    name: Build, push, and deploy
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Install Skaffold
      run: curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && sudo install skaffold /usr/local/bin/

    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

    - name: Install Dhall
      uses: dhall-lang/setup-dhall@v4
      with:
        version: '1.36.0'


    - name: Save Kubeconfig
      run: doctl kubernetes cluster kubeconfig save matts-k8s

    - name: Cache Dhall
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/dhall*
        key: ${{ runner.os }}-${{ hashFiles('k8s/src/imports/*') }}


    - name: Cache Skaffold
      uses: actions/cache@v2
      with:
        path: |
          ~/.skaffold/cache
        key: ${{ runner.os }}-skaffold-${{ hashFiles('**') }}
        restore-keys: |
          ${{ runner.os }}-skaffold-


    - name: Tear Down
      run: ./scripts/delete-feature-env.sh $GITHUB_PR_NUMBER