name: Deploy Feature Environment

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:

  build:
    name: Build, push, and deploy
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Install Skaffold
      run: curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && sudo install skaffold /usr/local/bin/

    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

    - name: Install Dhall
      run: |
        curl -Lo dhall-json-1.7.3-x86_64-linux.tar.bz2 https://github.com/dhall-lang/dhall-haskell/releases/download/1.36.0/dhall-json-1.7.3-x86_64-linux.tar.bz2
        tar --extract --bzip2 --file dhall-json-*-x86_64-linux.tar.bz2
        sudo install ./bin/dhall-to-{json,yaml} /usr/local/bin

    - name: Save Kubeconfig
      run: doctl kubernetes cluster kubeconfig save matts-k8s
    
    - name: Log in to Container Registry with short-lived credentials
      run: doctl registry login --expiry-seconds 600

    - name: Deploy
      run: ./scripts/deploy-feature-env.sh $(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')