name: Deploy Main

on:
  push:
    branches: [ main ]

jobs:

  build:
    name: Build, push, and deploy
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Install Skaffold
      run: curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && sudo install skaffold /usr/local/bin/

    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

    - name: Install Dhall
      run: sudo ./scripts/install-dhall-linux.sh

    - name: Save Kubeconfig
      run: doctl kubernetes cluster kubeconfig save matts-k8s
    
    - name: Log in to Container Registry with short-lived credentials
      run: doctl registry login --expiry-seconds 600

    - name: Deploy
      run: ./scripts/deploy.sh